<header class="header flex w-[100%] z-[100] justify-between px-20 py-5 fixed bg-[#191825]/50 backdrop-blur-lg">
    <a href="#" class="flex-grow font-bold text-2xl text-[#FAF0E6]">Alejo<span class="text-[#865DFF]">Dev</span></a>
    <ul class="flex flex-grow text-xl text-[#FAF0E6] max-w-[400px] justify-between align-middle">
        <a href="#">Proyects</a>
        <a href="#">Skills</a>
        <a href="#">About me</a>
    </ul>
</header>
