<section class="bg-[#27005D] h-screen w-[100%] px-44 flex justify-around items-center">
    <div class="flex flex-col gap-3">
        <h1 class="text-[#f0f0f0] text-6xl">Hi, i'm Alejo<span class="text-[#BC7AF9]">Dev</span></h1>
        <h2 class="text-[#F8FF95] text-3xl text-center">Fullstack developer</h2>
        <div>
            <!--icons -->
        </div>
    </div>
    <div>
        <img src="/alejodev-image.jpg" alt="profile image" class="max-w-[400px]" style="border-radius: 68% 41% 39% 69% / 61% 59% 46% 40%;">
    </div>
</section>