<section class="presentation-section bg-[#27005D] h-screen w-[100%] px-44 flex flex-col-reverse justify-center align-middle items-center sm:flex-row">
    <div class="flex flex-col gap-3 w-screen">
        <h1 class="text-[#f0f0f0] text-5xl text-center sm:text-6xl pt-5">Hi, i'm Alejo<span class="text-[#BC7AF9]">Dev</span></h1>
        <h2 class="text-[#F8FF95] text-2xl text-center sm:text-3xl">Fullstack developer</h2>
        <div>
            <!--icons -->
        </div>
    </div>
    <div class="alejo-image-container w-[80%] items-center justify-center flex sm:w-50px">
        <img src="/alejodev-image.jpg" alt="profile image" class="max-w-[400px] min-w-[200px] object-cover w-[100%]">
    </div>
</section>
<style>
    .alejo-image-container img{
        animation: animate-radius 10s linear infinite;
    }

    @keyframes blob-turn{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-radius {
        0%, 100% {
            border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
        }
        30% {
            border-radius: 99% 42% 62% 60% / 85% 82% 51% 40%;
        }
        40%{
            border-radius: 67% 59% 62% 60% / 85% 82% 51% 40%;
        }
        50% {
            border-radius: 47% 97% 81% 55% / 100% 89% 74% 51%;
        }
        70% {
            border-radius: 100% 100% 59% 74% / 73% 100% 100% 100%;
        }
    }
</style>