<section id="proyects" class="landing-section projects-section bg-[#191825] h-screen w-[100%] px-44 flex flex-col-reverse justify-center align-middle items-center sm:flex-row" data-header-colors="#100f17">
    
</section>