---
import ProjectCard from "./ProjectCard.astro"
---

<section id="projects" class="landing-section projects-section bg-[#191825] flex justify-center items-center h-screen w-[100%] px-10 pt-20" data-header-colors="#100f17">
    
    <div class="w-[100%]">

        <div class="glider-contain w-[100%]">
            
            <div class="glider w-[100%]">

                <ProjectCard projectTitle="Title" projectInfo="Information about the project, like, This webpage is an URL shortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
    
                <ProjectCard projectTitle="Title" projectInfo="Information aboutasily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
    
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, like, This webpage is an URL g urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
    
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, liortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
    
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, like, This webpage is an URL shortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, liortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
    
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, like, This webpage is an URL shortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>
                <ProjectCard projectTitle="Title" projectInfo="Information about the project, liortener, in here you will be able to store your long urls to make them more compact so you can use them more easily.">
                    <img 
                    slot="header-img"
                    src="/alejodev-image.jpg" 
                    alt="project immage"
                    class="w-[250px]"
                    style="border-radius: 24px;">
                </ProjectCard>

            </div>
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div> 
        </div>

    </div>
</section>

<script>
    new Glider(document.querySelector('.glider'), {
        slidesToShow: 1,
        slidesToScroll: 1,
        itemWidth: 50,
        duration: 0.25,
        dots: '.dots',
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
    }, responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 775,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2,
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 2,
        itemWidth: 150,
        duration: 0.25
      }
    }
  ]
    });
</script>