<section class="bg-[#27005D] h-screen w-[100%] px-44 flex justify-around items-center">
    <div class="slider">
        <div class="slide-track">
            <img src="https://skillicons.dev/icons?i=github" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=git" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=html" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=css" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=js" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=nodejs" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=express" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=react" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=astro" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=vite" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=bootstrap" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=tailwind" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=postgresql" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=mysql" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=mongodb" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=python" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=fastapi" class="slide" alt="skills logos" />
            <img src="https://skillicons.dev/icons?i=graphql" class="slide" alt="skills logos" />
        </div>
    </div>
</section>