<section id="skills" class="landing-section bg-[#27005D] h-screen w-[100%] flex justify-center items-center flex-col" data-header-colors="#200C41">
    <div class="">
        <h2 class="text-[#ffffff] font-bold text-5xl">skills</h2>
    </div>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=github" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=git" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=html" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=css" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=js" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=nodejs" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=express" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=react" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=astro" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=vite" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=bootstrap" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=tailwind" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=postgresql" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=mysql" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=mongodb" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=python" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=fastapi" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=graphql" class="slide" alt="skills logos" />
            </div>

            <div class="slide">
                <img src="https://skillicons.dev/icons?i=github" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=git" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=html" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=css" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=js" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=nodejs" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=express" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=react" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=astro" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=vite" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=bootstrap" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=tailwind" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=postgresql" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=mysql" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=mongodb" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=python" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=fastapi" class="slide" alt="skills logos" />
            </div>
            <div class="slide">
                <img src="https://skillicons.dev/icons?i=graphql" class="slide" alt="skills logos" />
            </div>
        </div>
    </div>
</section>
<style>
    .slider{
        width: 90vw;
        overflow: hidden;
    }

    .slider .slide-track{
        display: flex;
        height: 300px;
        align-items: center;
        justify-content: center;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(120px * 36);
        gap: 20px;
    }

    .slider .slide {
        width: 120px;
    }

    .slider .slide {
        transition: all .2s ease-in-out;
    }

    .slider .slide:hover {
        transform: scale(1.1);
    }

    .slider .slide img{
        width: 100%;
    }

    @keyframes scroll {
        0%{
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100%{
            -webkit-transform: translateX(calc(-120px * 18));
            transform: translateX(calc(-120px * 18));
        }
    }

    @media (max-width: 630px){
        .slider .slide-track{
            width: calc(80px * 36);
        }

        .slider .slide{
            width: 80px;
        }

        @keyframes scroll {
            0%{
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
            100%{
                -webkit-transform: translateX(calc(-80px * 18));
                transform: translateX(calc(-80px * 18));
            }
        }
    }
</style>